allow untrusted_app kernel:dir { search getattr };
allow untrusted_app kernel:file { open read };
allow untrusted_app storage_stub_file:dir getattr;
allow untrusted_app healthd:dir { getattr search };
allow untrusted_app hvdcp:dir { getattr search };
allow untrusted_app init:dir search;
allow untrusted_app lmkd:dir { getattr search };
allow untrusted_app logd:dir { getattr search };
allow untrusted_app mlog_qmi:dir { getattr search };
allow untrusted_app sct:dir { getattr search };
allow untrusted_app servicemanager:dir { getattr search };
allow untrusted_app surfaceflinger:dir { getattr search };
allow untrusted_app ta_qmi:dir { getattr search };
allow untrusted_app tad:dir { getattr search };
allow untrusted_app ueventd:dir { getattr search };
allow untrusted_app vold:dir { getattr search };
