allow untrusted_app bootanim:dir { getattr search };
allow untrusted_app bootanim:file { open read };
allow untrusted_app debuggerd:dir { getattr search };
allow untrusted_app debuggerd:file { open read };
allow untrusted_app drmserver:dir { getattr search };
allow untrusted_app drmserver:file { open read };
allow untrusted_app gatekeeperd:dir { getattr search };
allow untrusted_app gatekeeperd:file { open read };
allow untrusted_app healthd:dir { getattr search };
allow untrusted_app healthd:file { open read };
allow untrusted_app hvdcp:dir { getattr search };
allow untrusted_app hvdcp:file { open read };
allow untrusted_app init:dir { getattr search };
allow untrusted_app init:file { open read };
allow untrusted_app installd:dir { getattr search };
allow untrusted_app installd:file { open read };
allow untrusted_app kernel:dir { search getattr };
allow untrusted_app kernel:file { open read };
allow untrusted_app keystore:dir { getattr search };
allow untrusted_app keystore:file { open read };
allow untrusted_app lmkd:dir { getattr search };
allow untrusted_app lmkd:file { open read };
allow untrusted_app logd:dir { getattr search };
allow untrusted_app logd:file { open read };
allow untrusted_app mediaserver:dir { getattr search };
allow untrusted_app mediaserver:file { open read };
allow untrusted_app mlog_qmi:dir { getattr search };
allow untrusted_app mlog_qmi:file { open read };
allow untrusted_app mm-qcamerad:dir { getattr search };
allow untrusted_app mm-qcamerad:file { open read };
allow untrusted_app netd:dir { getattr search };
allow untrusted_app netd:file { open read };
allow untrusted_app netmgrd:dir { getattr search };
allow untrusted_app netmgrd:file { open read };
allow untrusted_app nfc:dir { getattr search };
allow untrusted_app nfc:file { open read };
allow untrusted_app perfprofd:dir { getattr search };
allow untrusted_app perfprofd:file { open read };
allow untrusted_app platform_app:dir { getattr search };
allow untrusted_app platform_app:file { open read };
allow untrusted_app qmuxd:dir { getattr search };
allow untrusted_app qmuxd:file { open read };
allow untrusted_app radio:dir { getattr search };
allow untrusted_app radio:file { open read };
allow untrusted_app rild:dir { getattr search };
allow untrusted_app rild:file { open read };
allow untrusted_app rmt_storage:dir { getattr search };
allow untrusted_app rmt_storage:file { open read };
allow untrusted_app sct:dir { getattr search };
allow untrusted_app sct:file { open read };
allow untrusted_app sdcardd:dir { getattr search };
allow untrusted_app sdcardd:file { open read };
allow untrusted_app sensors:dir { getattr search };
allow untrusted_app sensors:file { open read };
allow untrusted_app servicemanager:dir { getattr search };
allow untrusted_app servicemanager:file { open read };
allow untrusted_app shell:dir { getattr search };
allow untrusted_app shell:file { open read };
allow untrusted_app storage_stub_file:dir getattr;
allow untrusted_app su:dir { getattr search };
allow untrusted_app su:file { open read };
allow untrusted_app surfaceflinger:dir { getattr search };
allow untrusted_app surfaceflinger:file { open read };
allow untrusted_app system_server:dir { getattr search };
allow untrusted_app system_server:file { open read };
allow untrusted_app tad:dir { getattr search };
allow untrusted_app tad:file { open read };
allow untrusted_app ta_qmi:dir { getattr search };
allow untrusted_app ta_qmi:file { open read };
allow untrusted_app tee:dir { getattr search };
allow untrusted_app tee:file { open read };
allow untrusted_app thermanager:dir { getattr search };
allow untrusted_app thermanager:file { open read };
allow untrusted_app ueventd:dir { getattr search };
allow untrusted_app ueventd:file { open read };
allow untrusted_app vold:dir { getattr search };
allow untrusted_app vold:file { open read };
allow untrusted_app wpa:dir { getattr search };
allow untrusted_app wpa:file { open read };
allow untrusted_app zygote:dir { getattr search };
allow untrusted_app zygote:file { open read };

